* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.header {
  grid-column: 1 / span 4;
}

.header form {
  justify-self: start;
  align-self: center;
}

.header-style {
  background-image: url(./resources/app.jpg);
  height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.header-style form {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.534);
  width: 33vw;
  color: #eee;
  padding: 10px 20px;
  text-align: center;
}

.header-style form h2 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.header-style form input {
  margin-top: 15px;
  width: 100%;
  padding: 5px 10px;
}

.header input[value="Take tour"] {
  justify-self: end;
  align-self: center;
  margin-right: 100px;
}

.content1 {
  grid-column: 1 / span 3;
}

.content2 {
  grid-column: 1 / span 1;
}

.content2-img {
  grid-column: 2 / span 3;
}

.feature {
  grid-column: 1 / span 4;
}

.pricing {
  grid-column: 1 / span 4;
}

.pricing-basic {
  grid-column: 1 / span 2;
}

.pricing-premium {
  grid-column: 3 / span 2;
}

.footer {
  grid-column: 1 / span 4;
}
